/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
/*Header*/

header{
    width: 100%;
    min-height: 60px;
    border: 1px dashed black ;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.header-left{
    display: flex;
    align-items: center ;
    border: 1px dashed black;
    padding: 10px;
    background-color: antiquewhite;
}

.header-logo,
.option{
    padding: 10px;
}

.header-right{
    display: flex;
    align-items: center ;
    border: 1px dashed black;
    padding: 10px;
    background-color: antiquewhite;
}

/*Jumbotron*/

.jumbotron{
    background-color:hsl(207.06deg 51.52% 80.59%);
    border: 1px dashed black;
    padding-top: 30px;
    padding-right: 80px;
    padding-left: 80px;
}

.jumbotron-title{
    border: 1px dashed black;
    text-align: center;
    padding: 10px;
    display: block;
}

.jumbotron-columns{
    display: flex;
}

.jumbotron-caption{
    border: 1px dashed black;
    width: 50%;
    padding: 30px 60px;
    padding-top: 60px;
}

.jumbotron-image{
    border: 1px dashed black;
    width: 50%;
}

.img-jumbo{
    width: 500px;
    position: relative;
    bottom: -60px;
    left: 0;
}

main{
    margin: 90px 150px;
    padding:50px;
    border: 1px dashed black;

    /*Debug*/
    height: 1000px;
}

/*Nav Fatturazione*/

.nav-fatturazione{
    border: 1px dashed black;
}

/*Fatturazione Columns*/

.fatturazione-columns{
    display: flex;
    justify-content: space-around;
}

.column{
    width: calc(100% / 3);
    border: 1px dashed black;
    height: 900px;
}

.column-name{
    border: 1px solid black;
}