/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style: none;
}

/*Header*/

header{
    width: 100%;
    min-height: 60px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    position: fixed;
    background-color: white;
}

.btn-inizio{
    background-color: hsl(217.18deg 100% 50%);
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: small;
}

h1{
    font-size: 100px;
    font-weight: bold;
}

.option{
    text-decoration: none;
    color: black;
    font-size: small;
}

.header-left{
    display: flex;
    align-items: center ;
    padding: 10px;
}

.header-logo,
.option{
    padding: 10px;
}

.header-right{
    display: flex;
    align-items: center ;
    padding: 10px;
}

/*Jumbotron*/

.jumbotron{
    background-color:hsl(207.06deg 51.52% 80.59%);
    padding-top: 30px;
    padding-right: 80px;
    padding-left: 80px;
}

.jumbotron-title{
    text-align: center;
    padding: 10px;
    display: block;
}

.jumbotron-columns{
    display: flex;
}

.jumbotron-caption{
    width: 50%;
    padding: 30px 60px;
    padding-top: 60px;
}

.jumbotron-image{
    width: 50%;
}

p{
    padding: 20px;
}

.fa-arrow-down{
    font-size: 50px;
}

.btn1{
    background-color: hsl(217.18deg 100% 50%);
    color: white;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.img-jumbo{
    width: 600px;
    position: relative;
    bottom: -82px;
    left: 0;
}

main{
    margin: 90px 150px;
    padding:50px;
}

/*Nav Fatturazione*/

.testo{
    padding: 25px 0;
    font-size: 40px;
}

.annuale{
    margin-right: 30px;
}

/*Fatturazione Columns*/

.fatturazione-columns{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    gap: 10px;
}

.column{
    width: calc(100% / 3);
    
}

.column-name,
.team{
    border: 1px solid rgb(204, 204, 204);
    text-align: center;
    padding: 10px;
}

.tipologia,
.prezzo{
    text-align: left;
    padding: 20px;
}

.fa-solid{
    padding: 15px 2px;
}

.btn{
    background-color: hsl(217.18deg 100% 50%);
    color: white;
    padding: 10px;
    margin: 30px;
    text-align: center;
    height: 45px;
}

.testo1{
    padding: 15px 0;
}

.professional, 
.advanced,
.enterprise{
    padding: 0 15px;
    border: 1px solid rgb(204, 204, 204);
}

/*ufficio vendite*/

.ufficio-vendite{
    margin-top: 20px;
    border: 1px solid rgb(204, 204, 204);
}

.ufficio-vendite-enterprise{
    display: flex;
    justify-content: space-between;
}

.testo2,
.ufficio-vendite-p{
    padding: 10px;
    margin: 20px;
}

h4{
    margin-top: 20px;
}

.ufficio-vendite-p{
    font-weight: thin;
}

/*dropbox partner*/

.dropbox-partner{
    display: flex;
    margin: 50px 0;
}

.partner{
    width: 50%;
}

.partner-caption{
    margin: 30px;
    padding: 0 40px;
}

.partner-didascalia{
    padding: 20px 0;
}

/*Cards*/

.cards-title{
    font-size: 40px;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: calc(100% / 3);
}

.card > img{
    width: 100%
}

.card > p{
    padding: 10px 10px 10px 0;
}

.card > h3{
    padding: 20px 0;
}

.cards-ending{
    font-size: 40px;
    margin: 70px 0;
    width: 700px;
}

/*clients*/

.clients-container{
    border: 1px dashed black;
    justify-content: center;
    display: flex;
    background-color: gray;
}

.clients{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: brown;
    border: 1px solid black;
}

.clients-group{
    width: calc(100% / 2);
    background-color: aqua;
    height: 200px;
    border: 1px dashed black;

}

/*cards-bottom*/

.cards-bottom{
    background-color: hsl(207.06deg 51.52% 80.59%);
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
}

.faq{
    padding: 100px 200px;
    
}

.faq-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.faq-title{
    font-size: 30px;
    margin-bottom: 30px;
}

